In [24]:
import pandas as pd
import psycopg2
import numpy as np

### Database connection

In [14]:
conn = psycopg2.connect(
    database="practice", user='postgres', password='password', host='127.0.0.1', port= '5432',options="-c search_path=test,public"
    )

### SQL query 
- The query to get all the columns from all the tables

In [15]:
sql = """ SELECT 
    t21.post_code,
    t17.average_income average_income_2017,
    t18.average_income average_income_2018,
    t19.average_income average_income_2019,
    t20.average_income average_income_2020,
    t21.average_income average_income_2021
   FROM table_2021 t21 
    INNER JOIN 
    table_2020 t20 ON t20.post_code = t21.post_code
    INNER JOIN 
    table_2019 t19 ON t19.post_code = t21.post_code
    INNER JOIN 
    table_2018 t18 ON t18.post_code = t21.post_code
    INNER JOIN 
    table_2017 t17 ON t17.post_code = t21.post_code
        """

In [16]:
df = pd.read_sql(sql,conn, index_col='post_code')
conn.close()

In [17]:
df

,average_income_2017,average_income_2018,average_income_2019,average_income_2020,average_income_2021
post_code,,,,,
00130,51401,53489,49622,57766,61933
02380,57500,60722,58026,67865,69041
16710,25893,25649,26444,27746,30005
41930,22526,23287,24035,24346,25735
54800,20754,21053,21118,21434,22636

In [18]:
df['percent_increase'] = ((df['average_income_2021'] - df['average_income_2017'])/df['average_income_2017'])*100
df.head()

,average_income_2017,average_income_2018,average_income_2019,average_income_2020,average_income_2021,percent_increase
post_code,,,,,,
00130,51401,53489,49622,57766,61933,20.489874
02380,57500,60722,58026,67865,69041,20.071304
16710,25893,25649,26444,27746,30005,15.880740
41930,22526,23287,24035,24346,25735,14.245760
54800,20754,21053,21118,21434,22636,9.068131

In [25]:
print(f"The postal code with maximum percent increase in last five years: {df.index[np.argmax(max(df['percent_increase']))]}")

The postal code with maximum percent increase in last five years: 00130